.Header {
  height: 80px;
  display: flex;
  align-items: center;
  background-color: #232f3f;
  position: sticky;
  top: 0;
  z-index: 100;
}   
.Header a{
  text-decoration: none;
}

.Header_logo {
  /* width: 100px; */
  object-fit: contain;
  margin: 10 20px;
  padding: 10px 20px;
  color: #ffd519;
}

.Header_logo > h5 {
  text-align: center;
}


.Header_Seachbar {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.Header_Seachbar > select {
  height: 41px;
  padding: 5px;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 2px 0 0 2px;
}

.Search_logo {
  padding: 5px;
  height: 30px !important;
  background-color: #ffd519;
  font-size: 3.2rem !important;
  padding: 5px;
  border-radius: 0 5px 5px 0;
}

.Header_input {
  height: 20px;
  padding: 10px;
  border: none;
  width: 80%;
}

.Header_input:focus {
  border-color: lightsalmon !important;
}

/* .Header_Seachbar {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}

.Search_logo {
  padding: 5px;
  background-color: #ffd519;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.Header_input {
  height: 10px;
  padding: 10px;
  width: 100%;
  border: none;
}
.header_select_div {
  padding: 7px;
  background-color: #f0eeee;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: auto;
}
.header_select {
  outline: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  filter: alpha(opacity=0);
  visibility: visible;
  border: 0;
  background: #f0eeee;
  width: auto;
} */

.Header_nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* font-family: Arial, Helvetica, sans-serif; */
}

.Header_nav_item {
  display: flex;
  flex-direction: column;
  margin: 0 10px 0 10px;
  cursor: pointer;
}
.Header_nav_cart {
  margin: 10px 10px 0 10px;
  display: flex;
  flex-direction: row;
}

.nav_one {
  color: #ffff;
  font-size: 15px;
  font-weight: 500;
}
.nav_two {
  color: #ffff;
  font-size: 17px;
  font-weight: 800;
}
.Header_CartIcon {
  color: #ffff;
  margin-left: 10px;
  margin-right: 10px;
}
.nav_orderCount {
  margin-top: 5px;
  position: absolute;
  top: 1rem;
  margin-left: 30px;
}

@media only screen and (max-width: 574px) {
  .Header_Seachbar {
    grid-area: search;
  }
  .Header_logo {
    grid-area: logo;
  }
  .Header_nav {
    grid-area: nav;
  }
  .Header {
    height: 125px;
    display: grid;
    grid-template-areas:
      "logo logo logo search search search"
      "nav nav nav nav nav nav";
  }
  .Header_Seachbar {
    margin: -1.5rem 4rem 0 0;
  }
  .Header_logo {
    margin: -1.5rem 0 0 2rem;
    padding-left: 1rem;
  }
  .Header_nav {
    display: flex;
    justify-content: space-evenly;
    margin-top: -2.5rem;
  }
  .nav_orderCount {
    margin: 52px 0 0 31px;
  }
}
